.sidebarTitles:hover {
  color: #5bb673;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 0px; }

.sidebarTitles {
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 0px; }

.sideBarTextStyle {
  margin-left: 65px; }
